.table {
    margin-left: 5%;
    width: 80%;
}

body {
    background: url(../sources/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.b-container {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 0px auto;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.b-popup .b-popup-content {
    margin: 40px auto 0px auto;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.form-fieldLogin {
    border: 1px solid #c9b7a2;
    position: center;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #725129;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0 0;
    padding: 8px;
    margin-bottom: 20px;
    width: 340px;
}

#window {
    z-index: 150;
    display: none;
    margin-top: 7%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-left: 35%;
    border: 1px solid #f2e3d2;
    background: #c9b7a2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
    background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
    background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
    background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
    background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
    background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
    -moz-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
    box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width: 300px;
    padding: 20px;
    width: 25%;
}

.form-titleLogin {
    margin-bottom: 10px;
    color: #000000;
    font-size: larger;
    text-shadow: #000000 0 1px 0;
}

.closePic {
    float: right;
    margin-top: -15%;
    cursor: pointer;
    border: 1px solid #f2e3d2;
    padding: 2px;
    background: #f2e3d2;
}

.closePic:hover {: #fff;
}