<html>
<head>
    <link rel="stylesheet" href="../css/profileStyles.css" type="text/css"/>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="../css/navBarStyles.css" type="text/css"/>
// тут ты делаешь инклуд навбара
<!--<ul id="menu-bar">
    <li class="logo">AnimeIsLife</li>
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Menu</a>
        <ul>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="edit.html">Edit</a></li>
            <li><a href="favourite.html">Favourite</a></li>
            <li><a href="later.html">Later</a></li>
            <li><a href="categories.html">Categories</a></li>
            <li><a href="search.html">Search</a></li>
        </ul>
    </li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact Us</a></li>
</ul>-->


<form class="form-container">
    <div class="form-title">Email</div>
    <h4 class="form-field" id="email" type="text" name="email">some email</h4><br/>
    <div class="form-title">Age</div>
    <h4 class="form-field" id="age" type="text" name="age">18189 years</h4><br/>
    <div class="form-title">Country</div>
    <h4 class="form-field" id="country" type="text" name="country">some country</h4><br/>
</form>

<form>
    <div class="containerForProfile">
        <img src="../../web/front/src/profilePic.PNG" id="profilePic" class="profilePic">
        <div class="editButton-place"><a href="edit.html" class="buttonEdit">Edit</a></div>
    </div>
</form>

<div class="container post">
    <div class="posts_place">
        <h1>Title</h1>
        by Henry153783
        6 h ago
        <h5>Ancient Egypt was a civilization of ancient North Africa, concentrated along the lower reaches of the
            Nile
            River in the place that is now the country Egypt. Ancient Egyptian civilization followed prehistoric
            Egypt
            and coalesced around 3100 BC (according to conventional Egyptian chronology)[1] with the political
            unification of Upper and Lower Egypt under Menes (often identified with Narmer).[2] The history of
            ancient
            Egypt occurred as a series of stable kingdoms, separated by periods of relative instability known as
            Intermediate Periods: the Old Kingdom of the Early Bronze Age, the Middle Kingdom of the Middle Bronze
            Age
            and the New Kingdom of the Late Bronze Age.

            Egypt reached the pinnacle of its power in the New Kingdom, ruling much of Nubia and a sizable portion
            of
            the Near East, after which it entered a ... </h5>
        Ancient Rome, Ancient Egypt
        <div style="float: right">
            <span class="fa fa-thumbs-up"></span> 4
            <span class="fa fa-thumbs-down"></span> 0
            <span class="fa fa-comments"></span> 1
        </div>

    </div>
</div>

<div class="container post">
    <div>
        <h1>Title</h1>
        by Henry153783
        6 h ago
        <h5>Ancient Egypt was a civilization of ancient North Africa, concentrated along the lower reaches of the
            Nile
            River in the place that is now the country Egypt. Ancient Egyptian civilization followed prehistoric
            Egypt
            and coalesced around 3100 BC (according to conventional Egyptian chronology)[1] with the political
            unification of Upper and Lower Egypt under Menes (often identified with Narmer).[2] The history of
            ancient
            Egypt occurred as a series of stable kingdoms, separated by periods of relative instability known as
            Intermediate Periods: the Old Kingdom of the Early Bronze Age, the Middle Kingdom of the Middle Bronze
            Age
            and the New Kingdom of the Late Bronze Age.

            Egypt reached the pinnacle of its power in the New Kingdom, ruling much of Nubia and a sizable portion
            of
            the Near East, after which it entered a ... </h5>
        Ancient Rome, Ancient Egypt
        <div style="float: right">
            <span class="fa fa-thumbs-up"></span> 4
            <span class="fa fa-thumbs-down"></span> 0
            <span class="fa fa-comments"></span> 1
        </div>

    </div>
</div>

<div class="container post">
    <div>
        <h1>Title</h1>
        by Henry153783
        6 h ago
        <h5>Ancient Egypt was a civilization of ancient North Africa, concentrated along the lower reaches of the
            Nile
            River in the place that is now the country Egypt. Ancient Egyptian civilization followed prehistoric
            Egypt
            and coalesced around 3100 BC (according to conventional Egyptian chronology)[1] with the political
            unification of Upper and Lower Egypt under Menes (often identified with Narmer).[2] The history of
            ancient
            Egypt occurred as a series of stable kingdoms, separated by periods of relative instability known as
            Intermediate Periods: the Old Kingdom of the Early Bronze Age, the Middle Kingdom of the Middle Bronze
            Age
            and the New Kingdom of the Late Bronze Age.

            Egypt reached the pinnacle of its power in the New Kingdom, ruling much of Nubia and a sizable portion
            of
            the Near East, after which it entered a ... </h5>
        Ancient Rome, Ancient Egypt
        <div style="float: right">
            <span class="fa fa-thumbs-up"></span> 4
            <span class="fa fa-thumbs-down"></span> 0
            <span class="fa fa-comments"></span> 1
        </div>

    </div>
</div>

<div class="container post">
    <div>
        <h1>Title</h1>
        by Henry153783
        6 h ago
        <h5>Ancient Egypt was a civilization of ancient North Africa, concentrated along the lower reaches of the
            Nile
            River in the place that is now the country Egypt. Ancient Egyptian civilization followed prehistoric
            Egypt
            and coalesced around 3100 BC (according to conventional Egyptian chronology)[1] with the political
            unification of Upper and Lower Egypt under Menes (often identified with Narmer).[2] The history of
            ancient
            Egypt occurred as a series of stable kingdoms, separated by periods of relative instability known as
            Intermediate Periods: the Old Kingdom of the Early Bronze Age, the Middle Kingdom of the Middle Bronze
            Age
            and the New Kingdom of the Late Bronze Age.

            Egypt reached the pinnacle of its power in the New Kingdom, ruling much of Nubia and a sizable portion
            of
            the Near East, after which it entered a ... </h5>
        Ancient Rome, Ancient Egypt
        <div style="float: right">
            <span class="fa fa-thumbs-up"></span> 4
            <span class="fa fa-thumbs-down"></span> 0
            <span class="fa fa-comments"></span> 1
        </div>

    </div>
</div>

<div class="container post">
    <div>
        <h1>Title</h1>
        by Henry153783
        6 h ago
        <h5>Ancient Egypt was a civilization of ancient North Africa, concentrated along the lower reaches of the
            Nile
            River in the place that is now the country Egypt. Ancient Egyptian civilization followed prehistoric
            Egypt
            and coalesced around 3100 BC (according to conventional Egyptian chronology)[1] with the political
            unification of Upper and Lower Egypt under Menes (often identified with Narmer).[2] The history of
            ancient
            Egypt occurred as a series of stable kingdoms, separated by periods of relative instability known as
            Intermediate Periods: the Old Kingdom of the Early Bronze Age, the Middle Kingdom of the Middle Bronze
            Age
            and the New Kingdom of the Late Bronze Age.

            Egypt reached the pinnacle of its power in the New Kingdom, ruling much of Nubia and a sizable portion
            of
            the Near East, after which it entered a ... </h5>
        Ancient Rome, Ancient Egypt
        <div style="float: right">
            <span class="fa fa-thumbs-up"></span> 4
            <span class="fa fa-thumbs-down"></span> 0
            <span class="fa fa-comments"></span> 1
        </div>

    </div>
</div>

</body>
</html>
